# dependencies
node_modules
test/node_modules
yarn-error.log
.env
tmp
test/*/*/k8s
test/*/*/Dockerfile
test/*/*/skaffold.yaml
test/*/*/.*
test/nginx/simple/package.json
kubeconfig.yaml
test/*/.dna.json
